@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@font-face {
    font-family: "Gotham";
    src: url(Assets/Gotham.otf);
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.homepage{
    font-family: "Plus Jakarta Sans";
    width: 100vw;
    height: 100svh;
    padding: 0 69px;
    background: linear-gradient(180deg, #8b8ef2 0%, #ffffff 100%);
    overflow-x: hidden;
}

.header1 {
    width: 100%;
    height: auto;
    top:30lvh;
    font-size: 10vw;
    font-family: "Plus Jakarta Sans";
    font-weight: 700;
    color: #000000;
    letter-spacing: -px;
    position: relative;
    z-index: 2;
}

.paragraph {
    font-size: 18px;
    top: 30lvh;
    color: #333; /* Dark gray text */
    line-height: 1.6; /* Improves readability */
    text-align: justify; /* Makes the paragraph justified */
    position: relative;
    width: 50vw;
}

.imageHome {
    width: 7%; /* Set the width */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Adds shadow */
    position: relative;
    bottom: 66lvh;
    left: 45lvh;
}


.ul {
    list-style: none;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
li::marker {
    content: ""; /* Menghapus marker */
}

.li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.navbar {
    position: fixed;
    bottom: 5vh;
    left: 5vh;
    width: 100%;
    padding: 15px;
    display: flex;
    gap: 100px;
    z-index: 1000; /* Pastikan navbar berada di atas elemen lain */
}

.navbar button {
    background-color: white;
    border-style: solid;
    border-color: blue;
    padding: 15px 25px;
    font-size: 16px;
    color: blue;
    border-radius: 20px; /* Membuat tombol berbentuk rounded */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar button:hover {
    background-color: blue;
    border-style: solid;
    border-color: blue;
    color: white;
}