@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.homepage{
    font-family: "Plus Jakarta Sans";
    width: 100vw;
    height: 100svh;
    padding: 0 100px;
    background: linear-gradient(180deg, #bcbef6 0%, #ffffff 100%);
    overflow-x: hidden;
}

.header1 {
    width: 100%;
    height: auto;
    top:25lvh;
    font-size: 10vw;
    font-family: "Plus Jakarta Sans";
    font-weight: 700;
    color: #000000;
    position: relative;
    z-index: 2;
}

.paragraph {
    font-size: 18px;
    top: 25lvh;
    color: #333; /* Dark gray text */
    line-height: 1.6; /* Improves readability */
    text-align: justify; /* Makes the paragraph justified */
    position: relative;
    width: 50vw;
}

.imageHome {
    width: 44vh;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    bottom: 36vw;
    left: 62vw;
}

/* Untuk layar dengan lebar maksimal 1024px (tablet) */
@media (max-width: 1024px) {
    .header1 {
        font-size: 12vw; /* Ukuran font lebih kecil untuk tablet */
        height: auto;
    }

    .imageHome {
        width: 25vh; /* Ukuran lebih kecil untuk tablet */
        bottom: 62vw;
        left: 68vw;
    }
}

/* Untuk layar dengan lebar maksimal 768px (ponsel) */
@media (max-width: 768px) {
    .imageHome {
        width: 20vh; /* Lebih kecil untuk ponsel */
        bottom: 20vw;
        left: 50vw;
    }
}

/* Untuk layar dengan lebar maksimal 480px (ponsel kecil) */
@media (max-width: 480px) {
    .imageHome {
        width: 15vh; /* Ukuran lebih kecil lagi */
        bottom: 15vw;
        left: 40vw;
    }
}



.navbar ul {
    display: flex;
    justify-content: flex-start; /* Memastikan tombol lain tetap di kiri */
    align-items: center;
    list-style: none;
    padding: 0;
}

.navbar li {
    display: flex;
    gap: 10px; /* Jarak antar tombol */
    width: 100%;
}

.navbar a:last-child {
    margin-left: 48vh; /* Memindahkan tombol "Contact" ke kanan */
}

.navbar {
    font-family: "Plus Jakarta Sans";
    position: fixed;
    bottom: 85vh;
    left: 8vh;
    width: 100%;
    padding: 15px;
    z-index: 1000; /* Pastikan navbar berada di atas elemen lain */
}

.navbar button {
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-color: #8b8ef2;
    padding: 15px 25px;
    font-size: 16px;
    color: black;
    border-radius: 24px; /* Membuat tombol berbentuk rounded */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.navbar button:hover {
    background-color: #8b8ef2;
    border-style: solid;
    border-color: #8b8ef2;
    color: white;
}

.works {
    background-color: #ffffff;
    padding: 0 69px;
    margin: 60px 0;
}
.works-constructor {
    padding: 40px 0;
}